img {
  width: 600px;
  border-radius: 300px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  text-align: center;
}

.wrapper {
  text-align: center;
}

body {
  background-color: lightsalmon;
}
